extends layout
block prepend head 
    link(rel="stylesheet", href="/styles/blogView.css")
    link(rel="stylesheet", href="/styles/inputForm.css")
    script(src="/javascripts/viewBlog.js" type='text/javascript')
    title  #{blog.title}

block body
    img(src=`/banners/${blog.banner}` class='bannerImage')

    h1(class='title')= blog.title
    div(class='created-on') Author: #{blog.authorName}
    div(class='created-on') Created On: #{blog.createdOn}
    br
    if username == blog.authorName
        a(href='/delete/'+blog._id)
            button(type="submit" class='pushable' style='transform:scale(0.6,0.6) translate(-35%, -35%) ') 
                span(class='front') Delete Blog?
    div(class='blogText' id='blogText') #{blog.blogText}
    br
    br
    br

        